@charset "UTF-8";
@keyframes grow-font {
  from {
    font-size: 0px;
  }
  to {
    font-size: 0.8rem;
  }
}
@keyframes opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-slide {
  0% {
    max-height: 0;
    opacity: 0;
  }
  75% {
    max-height: 1000px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hide-slide, .show-slide {
  animation-name: show-slide;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.listing-info, .preview-title > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-group-inline, .field-container.inline, .preview-title, .preview-image, .categories, .nav-menu, .nav-bar, .pagination, footer .links, .comment > :first-child, .listing-header, .preview-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .links, .comment > :first-child, .listing-header, .preview-extra {
  justify-content: space-between;
}

.group > * {
  margin: 2rem 0;
}

.categories a, .comment, .listing, .preview, .nav-link, input, textarea, select, button, .btn, a {
  transition: all 0.2s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea, select, button {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  height: 15vh;
}
footer .links {
  height: 100%;
  font-size: 0.8rem;
}

nav, main, footer .links {
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}
@media (max-width: 600px) {
  nav, main, footer .links {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button, .btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

input, textarea, select {
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  outline: none;
  overflow: auto;
}

textarea {
  resize: none;
}

label {
  display: block;
  font-weight: 600;
  margin: 0.3rem 0;
}

.form-div {
  margin-inline: auto;
  width: 600px;
}
.form-div label {
  margin: 1rem 0;
}
.form-div form {
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .form-div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.error-msg {
  font-size: 0.8rem;
  text-align: center;
}

.btn-active {
  cursor: default;
}

.b {
  font-weight: 600;
}

.c {
  text-align: center;
}

.r {
  text-align: right;
}

.sm {
  font-size: 0.8rem;
  font-weight: 400;
}

.pagination {
  gap: 0.5rem;
}
.pagination .btn {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  min-width: unset;
}

.hide-slide {
  animation-direction: reverse;
}

.comment, .listing, .preview, .nav-link {
  background-color: rgba(157, 99, 63, 0.168627451);
  border-radius: 7px;
  color: black;
  padding: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.menu-btn-active {
  background-color: rgba(253, 253, 253, 0.2117647059);
  color: #006e00;
}

body {
  background-image: url("bg.jpg");
}
@media (max-width: 600px) {
  body {
    background-attachment: fixed;
  }
}

hr {
  border: transparent;
  width: 100%;
  border-bottom: 1px dashed #b68261;
}

main {
  margin-bottom: 3rem;
}
main > * {
  margin: 1.5rem 0;
}
@media (max-width: 600px) {
  main > * {
    margin: 1rem 0;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

img {
  border: 1px solid black;
}

a {
  color: #006e00;
}
a:hover {
  text-shadow: 0 0 3px #b68261;
}

button, .btn {
  background-color: rgba(182, 129, 97, 0.4);
  border: 1px solid transparent;
  border-radius: 7px;
  color: black;
  padding: 0 0.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  min-width: 5rem;
}
button:hover, .btn:hover {
  background-color: rgba(182, 129, 97, 0.7);
}

.btn-red {
  background-color: rgba(244, 65, 65, 0.3058823529);
}
.btn-red:hover {
  background-color: rgba(244, 65, 65, 0.6058823529);
}

.btn-green {
  background-color: rgba(58, 167, 58, 0.3843137255);
}
.btn-green:hover {
  background-color: rgba(58, 167, 58, 0.6843137255);
}

.btn-blue {
  background-color: rgba(74, 74, 249, 0.3333333333);
}
.btn-blue:hover {
  background-color: rgba(74, 74, 249, 0.6333333333);
}

.btn-yellow {
  background-color: rgba(218, 165, 32, 0.3490196078);
}
.btn-yellow:hover {
  background-color: rgba(218, 165, 32, 0.6490196078);
}

.btn-active {
  background-color: rgba(253, 253, 253, 0.2117647059);
}
.btn-active:hover {
  background-color: rgba(253, 253, 253, 0.2117647059);
}

input:not([type=checkbox]), textarea, select {
  background-color: rgba(253, 253, 253, 0.2117647059);
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 0.5rem;
}
input:not([type=checkbox]):focus, textarea:focus, select:focus {
  border-color: #006e00 !important;
}

input[type=checkbox] {
  background-color: rgba(182, 129, 97, 0.4);
  appearance: none;
  vertical-align: text-top;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border: 1px solid;
  border-radius: 3px;
  overflow: visible;
}
input[type=checkbox]:hover {
  background-color: rgba(182, 129, 97, 0.7);
}
input[type=checkbox]:checked {
  background-color: rgba(157, 99, 63, 0.168627451);
}
input[type=checkbox]:checked::after {
  font-weight: 600;
  font-size: 15px;
  padding-left: 3px;
  line-height: 15px;
  content: "✓";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(157, 99, 63, 0.168627451);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(157, 99, 63, 0.168627451);
}

form {
  max-width: 65vw;
  margin: auto;
}

@media (max-width: 600px) {
  .locked {
    overflow: hidden;
  }
}

.nav {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.7s;
}
.nav-sticky {
  background-image: url("bg.jpg");
  box-shadow: 0 2px 2px #b68261;
  width: 100%;
  padding: 1rem;
}
.nav-bar {
  justify-content: space-between;
  gap: 0.5rem;
}
@media (max-width: 600px) {
  .nav-bar {
    display: none;
  }
}
.nav-mobile {
  justify-content: space-between;
}
@media (max-width: 600px) {
  .nav-mobile-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7vh;
    height: calc(100vh - 3rem - 2rem);
    padding: 1rem 0;
  }
  .nav-mobile-open .nav-auth {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-mobile-open .nav-auth .nav-link {
    width: fit-content;
  }
  .nav-mobile-open .nav-link {
    width: 100%;
  }
}
.nav-menu {
  gap: 0.5rem;
}
@media (max-width: 600px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.nav-link {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
}
@media (min-width: 600px) {
  .nav-link:hover {
    background-color: rgba(253, 253, 253, 0.2117647059);
    color: #006e00;
  }
}
.nav-mobile {
  display: none;
}
@media (max-width: 600px) {
  .nav-mobile {
    display: flex;
  }
}

.categories {
  flex-flow: wrap;
  gap: 0.5rem;
}
.categories a {
  font-size: 0.85rem;
  border-radius: 7px;
  color: black;
  text-shadow: 0 0 10px white;
  padding: 0.4rem 0.6rem;
  background-color: rgba(253, 253, 253, 0.2117647059);
}
.categories a:hover {
  background-color: rgba(157, 99, 63, 0.168627451);
}

.preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "preview-image preview-title" "preview-image preview-main" "preview-image preview-extra";
  gap: 0.2rem 3rem;
}
@media (max-width: 600px) {
  .preview {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "preview-title preview-title" "preview-image preview-main" "preview-extra preview-extra";
    gap: 1rem 2rem;
  }
}
.preview-image {
  grid-area: preview-image;
  justify-content: center;
  max-height: 20rem;
  background-color: rgba(157, 99, 63, 0.168627451);
}
.preview-title {
  grid-area: preview-title;
}
.preview-title > div {
  gap: 1rem;
  flex-grow: 1;
}
@media (max-width: 600px) {
  .preview-title > div {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .preview-title {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.preview-main {
  grid-area: preview-main;
  margin: 2rem 0;
}
@media (max-width: 600px) {
  .preview-main {
    margin: 0;
  }
}
.preview-extra {
  grid-area: preview-extra;
}

.listing {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "listing-header listing-header" "listing-meta listing-meta" "listing-img listing-info" "listing-img listing-desc";
}
@media (max-width: 600px) {
  .listing {
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "listing-header listing-header" "listing-meta listing-meta" "listing-img listing-info" "listing-desc listing-desc";
  }
  .listing hr {
    display: none;
  }
}
.listing h5 {
  margin-bottom: 0.5rem;
}
.listing-header {
  grid-area: listing-header;
  flex-flow: wrap;
  gap: 0.5rem;
}
.listing-meta {
  grid-area: listing-meta;
}
.listing-img {
  grid-area: listing-img;
  display: flex;
  justify-content: center;
  max-height: 30rem;
  background-color: rgba(157, 99, 63, 0.168627451);
}
@media (max-width: 600px) {
  .listing-img img {
    margin: auto;
  }
}
.listing-img p {
  margin: auto;
}
.listing-info {
  grid-area: listing-info;
  gap: 1rem;
}
.listing-desc {
  grid-area: listing-desc;
  margin-bottom: 1rem;
}

.errorlist, .error-msg {
  list-style-type: none;
  font-size: 0.8rem;
  color: darkred;
}

.errorlist ~ input, .invalid {
  border: 1px solid darkred !important;
}

.listing-form {
  max-width: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0 1rem;
}
@media (max-width: 600px) {
  .listing-form {
    display: block;
  }
}
.listing-form-image div {
  line-height: 2.5rem;
}
.listing-form-image div label {
  display: inline;
}
.listing-form-image div input[type=file] {
  max-width: 100%;
}

.comments {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1rem;
}
.comments-section > div {
  margin-bottom: 1rem;
}
.comments-form {
  margin: 0;
}
.comments-form textarea {
  margin: 0.5rem 0;
}
@media (max-width: 600px) {
  .comments-form {
    max-width: none;
  }
  .comments-form textarea {
    height: 10rem;
  }
}
@media (max-width: 600px) {
  .comments {
    display: flex;
    flex-flow: column-reverse;
  }
}

.comment {
  background-color: rgba(253, 253, 253, 0.2117647059);
}
.field-container {
  width: 100%;
}
.field-container.inline {
  gap: 0.5rem;
}

.bid {
  font-size: 0.7rem;
  padding: 0.1rem 0;
}
.bid:first-of-type {
  font-weight: 600;
}

.bid-form {
  margin: 0.5rem auto 0.5rem 0;
}
.bid-form input {
  margin: 0.5rem 0;
}

.date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.date :first-child {
  font-weight: 600;
}

.btn-group-inline {
  gap: 0.5rem;
}
.btn-group-inline > * {
  width: 100%;
}

footer {
  background-color: rgba(157, 99, 63, 0.168627451);
}
footer .links a {
  color: black;
}
footer .links a:hover {
  color: #006e00;
}

/*# sourceMappingURL=styles.css.map */
