@use 'sass:color';
@import './mixins';

$bg-image: url('bg.jpg');
$bg-color: #b6816166;
$bg-color-opaque: #b68261;
$img-bg-color: #9d633f2b;
$light-tp: #fdfdfd36;
$border-radius: 7px;
$a-color: #006e00;
$red: #f441414e;
$blue: #4a4af955;
$green: #3aa73a62;
$yellow: #daa52059;
$nav-padding: 1rem;
$nav-link-height: 3rem;

%parchment {
    @extend %transition-ease;
    background-color: $img-bg-color;
    border-radius: $border-radius;
    color: black;
    padding: 1rem;
}

%price {
    font-size: 2rem;
    font-weight: 600;
}

%nav-link-hover {
    background-color: $light-tp;
    color: $a-color;
}

body {
    background-image: $bg-image;
    padding-top: 1rem;

    @include mobile {
        background-attachment: fixed;
        padding-top: 0;
    }
}

hr {
    border: transparent;
    width: 100%;
    border-bottom: 1px dashed $bg-color-opaque;
}

main {
    margin-bottom: 3rem;
    > * {
        margin: 1.5rem 0;

        @include mobile {
            margin: 1rem 0;
        }
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5 { font-weight: 500;}

img {
    border: 1px solid black;
}

a {
    color: $a-color;

    &:hover {
        text-shadow: 0 0 3px $bg-color-opaque;
    }
}

button, .btn {
    @include btn-adjust-alpha($bg-color);
    border: 1px solid transparent;
    border-radius: $border-radius;
    color: black;
    padding: 0 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 5rem;
}

.btn-red {
    @include btn-adjust-alpha($red);
}

.btn-green {
    @include btn-adjust-alpha($green);
}

.btn-blue {
    @include btn-adjust-alpha($blue);
}

.btn-yellow {
    @include btn-adjust-alpha($yellow);
}

.btn-active{
    background-color: $light-tp;

    &:hover {
        background-color: $light-tp;
    }
}

input:not([type=checkbox]), textarea, select {
    background-color: $light-tp;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding: 0.5rem;

    &:focus {
        border-color: $a-color !important;
    }
}

input[type=checkbox] {
    @include btn-adjust-alpha($bg-color);
    appearance: none;
    vertical-align: text-top;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius: 3px;
    overflow: visible;

    &:checked {
        background-color: $img-bg-color;

        &::after {
            font-weight: 600;
            font-size: 15px;
            padding-left: 3px;
            line-height: 15px;
            content: '\2713';
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $img-bg-color;
} 

::-webkit-scrollbar-thumb {
    background-color: $img-bg-color;
}

form {
    max-width: 65vw;
    margin: auto;
}

.locked {
    @include mobile { overflow: hidden;}
}

.nav {
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .7s;

    &-sticky {
        background-image: $bg-image;
        box-shadow: 0 2px 2px $bg-color-opaque;
        width: 100%;
        padding: 1rem;
    }

    &-bar {
        @extend %flex-row;
        justify-content: space-between;
        gap: 0.5rem;

        @include mobile {
            display: none;
        }
    }

    &-mobile {
        justify-content: space-between;
    }

    &-mobile-open {
        @include mobile {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 1.5rem;
            height: calc(100vh - $nav-link-height - $nav-padding * 2);
            margin-top: 1.5rem;

            .nav-link {
                width: 100%;
            }

            .nav-auth {
                width: fit-content;
            }

            .spacer {
                display: none;
            }
        }

    }

    &-link {
        @extend %parchment;
        @extend %transition-ease;

        height: $nav-link-height;
        line-height: $nav-link-height;
        padding: 0 $nav-padding;
        white-space: nowrap;
        
        @include desktop {
            &:hover {
                background-color: $light-tp;
                color: $a-color;
            }
        }
    }

    &-mobile {
        display: none;
        @include mobile {
            display: flex;
        }
    }
}

.menu-btn-active {
    @extend %nav-link-hover;
}

.categories {
    @extend %flex-row;
    flex-flow: wrap;
    gap: 0.5rem;

    a {
        @extend %transition-ease;
        font-size: 0.85rem;
        border-radius: $border-radius;
        color: black;
        text-shadow: 0 0 10px white;
        padding: 0.4rem 0.6rem;
        background-color: $light-tp;
    }

    a:hover {
        background-color: $img-bg-color;
    }
}

.preview {
    @extend %parchment;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:    'preview-image preview-title'
                            'preview-image preview-main'
                            'preview-image preview-extra';
    gap: 0.2rem 3rem;

    @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:    'preview-title preview-title'
                                'preview-image preview-main'
                                'preview-extra preview-extra';

        gap: 1rem 2rem;
    }

    &-image {
        grid-area: preview-image;
        @extend %flex-row;
        justify-content: center;
        max-height: 20rem;
        background-color: $img-bg-color;
    }

    &-title {
        grid-area: preview-title;
        display: flex;
        gap: 1rem;

        & > div {
            @extend %flex-column;
            gap: 1rem;
            flex-grow: 1;

            @include mobile {
                width: 100%;
            }
        }

        @include mobile {
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    &-main {
        grid-area: preview-main;
        margin: 2rem 0;

        @include mobile {margin: 0;}
    }

    &-extra {
        grid-area: preview-extra;
        @extend %flex-row-sb;
    }
}

.listing {
    @extend %parchment;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:    'listing-header listing-header'
                            'listing-meta listing-meta'
                            'listing-img listing-info'
                            'listing-img listing-desc';

    @include mobile {
        display: block;
        padding: 1rem;

        > div { margin: 1rem 0;}
        /*padding: 1rem;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:    'listing-header listing-header'
                                'listing-meta listing-meta'
                                'listing-img listing-info'
                                'listing-desc listing-desc';
        
        hr {
            display: none;
        }
        */
    }

    h5 {margin-bottom: 0.5rem;}

    &-header {
        grid-area: listing-header;
        @extend %flex-row-sb;
        flex-flow: wrap;
        gap: 0.5rem;
    }

    &-meta {
        grid-area: listing-meta;
    }

    &-img {
        grid-area: listing-img;
        display: flex;
        justify-content: center;
        background-color: $img-bg-color;

        img {
            max-height: 30rem;
            @include mobile {
                margin: auto;
            }
        }

        p {
            margin: auto;
        }
    }

    &-info {
        grid-area: listing-info;
        @extend %flex-column;
        gap: 1rem;
    }

    &-desc {
        grid-area: listing-desc;
        margin-bottom: 1rem;
    }
}

.errorlist, .error-msg {
    list-style-type: none;
    font-size: 0.8rem;
    color: darkred;
}

.errorlist ~ input, .invalid {
    border: 1px solid darkred !important;
}

.listing-form {
    max-width: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 1rem;

    @include mobile {
        display: block;
    }

    &-image {
        div {
            line-height: 2.5rem;

            label {
                display: inline;
            }
            input[type=file] {
                max-width: 100%;
            }
        }
    }
}

.group {
    @extend %group-block;
}

.comments {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 2rem;

    &-section {
        & > div { margin-bottom: 1rem;}
    }

    &-form {
        margin: 0;
        textarea {margin: 0.5rem 0;}

        @include mobile {
            max-width: none;
            textarea { height: 10rem;}
        }
    }

    @include mobile {
        display: flex;
        flex-flow: column-reverse;
    }
}

.comment {
    @extend %parchment;
    background-color: $light-tp;

    >:first-child {
        @extend %flex-row-sb;
    }
}

.field-container {
    width: 100%;

    &.inline {
        @extend %flex-row;
        gap: 0.5rem;
    }
}

.bid {
    font-size: 0.7rem;
    padding: 0.1rem 0;

    &:first-of-type {
        font-weight: 600;
    }
}

.bid-form {
    margin: 0.5rem auto 0.5rem 0;
    input { margin: 0.5rem 0;}
}

.price {
    @extend %price;
}

.date {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    :first-child {
        font-weight: 600
    }
}

.btn-group-inline {
    @extend %flex-row;
    gap: 0.5rem;

    > * {
        width: 100%;
    }
} 

footer {
    background-color: $img-bg-color;

    .links {
        @extend %flex-row-sb; 

        a {
            color: black;
            &:hover { color: $a-color; }
        }
    }
}

.modal {
    background-color: #271c1666;
    justify-content: center;
    align-items: center;

    &-dialog {
        font-size: 1.5rem;
        text-align: center;
        padding: 3rem;
        background-image: $bg-image;
        border-radius: 15px;
    }

    &-msg {
        margin: 1rem;
    }

    button { margin: 1rem;}
}