@import './mixins';
$primary-color: #da0043;
$border-radius: 5px;
$padding: 0.7rem;

[v-cloak] {display: none;}

%transition-ease {
    transition: all .5s ease-out;
}

h2 {
    text-align: left;
}

a {
    color: $primary-color;
    font-size: 1rem;

    &:hover {
        color: $primary-color;
    }
}

button, .btn {
    @include btn-color($primary-color);
    border: 1px solid black;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
}

.btn-sm {
    padding: 0.3rem 0.5rem;
    font-size: $font-size-sm;
}

.btn-active {
    background-color: white;
    color: black;

    &:hover {
        background-color: white;
        color: black;
    }
}

.btn-likes {
    @include btn-color(white);
    gap: 0.15rem;
    font-size: $font-size-sm;
    padding: 0;
    border: none;
    width: fit-content;
    height: 1.2rem;

    &:disabled {
        opacity: 1;
    }

    @include mobile {
        padding-left: 0.5rem;
    }
}

.heart {
    display: inline-flex;
    height: $font-size-sm;
    line-height: $font-size-sm;
    width: $font-size-sm;
    align-items: center;
    justify-content: center;

    &::before {
        content: '\2661';
        color: #aa0000;
    }
}

.liked {
    &::before {
        content: '\2764';
    }
}

.sm {
    color: grey;
}

.extra {
    font-size: $font-size-sm;
    color: gray;
}

.hidden {
    display: none;
}

main {
    margin-bottom: 3rem;

    > div {
        margin-block: 2rem;
    }
}

header, footer {
    position: sticky;
    z-index: 4;
    width: 100%;
    background-color: #e5e5e5;
    height: 3rem;
    line-height: 3rem;
}

header {
    top: 0;

    &.sticky-scrolling {
        top: -3rem;
    }
}

footer {
    bottom: 0;

    &.sticky-scrolling {
        bottom: -3rem;
    }
}



nav, footer .links {
    @extend %flex-row;
    gap: 2rem;
    overflow: auto;

    @include mobile {
        gap: 1rem;
        justify-content: space-between;
    }

    a {
        font-size: 1.2rem;
        white-space: nowrap;
        color: black;

        &:hover {
            color: $primary-color;
        }
    }
}

footer {
    .links {
        a { font-size: $font-size-sm; }
    }
}

form {

    input, textarea {
        display: block;
        border-radius: $border-radius;
        border: 1px solid black;
        margin: 0.7rem 0;

        &:focus {
            border-color: $primary-color;
        }
    }

    input {
        padding: 0.3rem 0.5rem;
    }

    textarea {
        height: 7rem;
        padding: 1rem;
        width: 100%;
    }

    button {
        min-width: 5rem;
    }
}

.grow {
    @extend %grow-font;
}

.shrink {
    @extend %grow-font;
    animation-direction: reverse;
}

.show-slide {
    @extend %show-slide;
    animation-duration: .7s;
}

.feed, .networker {
    position: relative;

    & > * {
        margin: 2rem 0;
    }
}

.networker button { margin: 0;}

.avatar {
    max-width: 15rem;
    max-height: 15rem;

    img {
        max-width: inherit;
        max-height: inherit;
    }
}

.avatar-select {

    input[type="file"] {
        display: none;
    }

    button {
        display: none;
    }
}

.post {
    position: relative;
    width: 100%;
    border: 1px solid black;
    transition: transform 1s;
    padding: $padding 2rem;

    @include mobile {
        padding: 1rem;
    }

    &-header, &-body, &-footer {
        margin: $padding 0;
    }

    &-header {
        @extend %flex-row;
        gap: $padding;

        height: 3rem;
    }

    .spacer {
        width: 100%;
    }

    &-avatar {
        min-width: 3rem;
        min-height: 3rem;
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
        border: 1px dashed darkgray;
    }

    &-body {
        border-top: 1px dashed darkgray;
        border-bottom: 1px dashed darkgray;
        font-family: 'Courier New', Courier, monospace;
        padding: $padding 0;
        white-space: pre-wrap;
        line-height: 1.3rem;

        a:hover {text-decoration: underline;}
    }

    &-footer {
        font-size: $font-size-sm;
    }

    .extra {
        white-space: nowrap;
        display: flex;
        gap: 5px;

        @include mobile {
            flex-direction: column;
            gap: 0;
        }
    }

    &-meta {
        &-msg {
            padding: 2.1rem 0.7rem;
        }
        padding: 0.7rem 0;
        text-align: center;
        button { margin: 0 0.35rem; }
    }
}

.user-info {
    padding-top: 0.5rem;
    span {
        padding-right: 1rem;
    }
}

.error-msg {
    color: red;
}

.show {
    @extend %opaque;
}

.hide {
    @extend %opaque;
    animation-direction: reverse;
}

#scrollUpBtn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    visibility: hidden;
    opacity: 0;
}

#scrollUpBtn::before {
    content: '\2191';
} 
