{% extends "network/layout.html" %}
{% load static %}
{% block main %}
    <script>
        const signedIn = {{ signedIn }};
        const feedType = '{{ feedType }}';
    </script>
    {% if networker %}
        <div class="networker">
            <h2>{{ networker }}</h2>
            <div class="avatar">
                <img src="{{ networker.image.url }}">
            </div>
                
            <div class="user-info">
                <span>Posts: <b>{{ networker.posts.count }}</b></span>
                <span>Follows: <b>{{networker.follows.count }}</b></span>
                <span>Followers: <b id="followersNumber">{{networker.followers.count }}</b></span>
            </div>
            {% if user.is_authenticated %} 
                {% if user == networker.user %}
                <div class="post-header">
                    <div class="avatar-select">
                        <label class="btn">
                            <input type="file" accept="image/png" onchange="handleAvatarUpload(this.parentElement.parentElement)">Choose avatar
                        </label>
                        <span class="sm"></span>
                        <button type="button" onclick="uploadAvatar(this.parentElement)">Upload avatar</button>
                        <button type="button" onclick="cancelAvatarUpload(this.parentElement)">Cancel</button>  
                    </div>
                    {% if not networker.is_default_image %}
                    <button type="button" onclick="deleteAvatar()">Delete avatar</button>  
                    {% endif %}
                </div>

                {% else %}
                <button type="button" onclick="follow({{ networker.user.id }})">
                    {% if follows %}Unfollow
                    {% else %}Follow
                    {% endif %}
                </button>
                {% endif %}
            {% endif %}      
        </div>
    {% endif %}

    <div id="feed" class="feed" v-cloak></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" defer></script>
    <script src="{% static 'network/feed.js' %}" defer></script>
{% endblock %}