{% extends 'home/layout.html' %}{% load static %}

{% block title %}Social Network{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{% static 'network/styles.css' %}">
    <script src="{% static 'network/js.js'%}" async defer></script>
{% endblock %}

{% block body %}
    <header>
        <nav>
            <a class="b" href="{% url 'network:index' %}">Network</a>
        
        {% if user.is_authenticated %}
            <a class="b" href="{% url 'network:user' user.id%}">{{ user.username }}</a>
        {% endif %}
            <a class="desktop" href="{% url 'network:index' %}">All Posts</a>
        {% if user.is_authenticated %}
            <a href="{% url 'network:feed' %}">Your feed</a>
            <a href="#" onclick="return logout();">Log Out</a>
        {% else %}
            <a href="#" onclick="return login('network');">Log In</a>
            <a href="#" onclick="register('network');">Register</a>
        {% endif %}
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <span id="scrollUpBtn" onclick="scrollUp()"></span>
{% endblock %}