{% extends 'home/layout.html' %}{% load static %}

{% block title %}Mail on Angular{% endblock %}

{% block statics %}
  <base href="/mailNg/">
  <link rel="stylesheet" href="{% static 'mailNg/styles.5899d66f9ca2563b.css' %}" media="print" onload="this.media='all'">
{% endblock %}

{% block body %}
  {% block main %}
  <main>
    <app-root></app-root>
    <script src="{% static 'mailNg/runtime.6e117ab6efc58e34.js' %}" type="module"></script>
    <script src="{% static 'mailNg/polyfills.65d8516570740d49.js' %}" type="module"></script>
    <script src="{% static 'mailNg/main.8b52f3e8a9a21042.js' %}" type="module"></script>
  </main>
  {% endblock %}
{% endblock %}