{% load static %}
<!DOCTYPE html>
{% block lang %}<html lang="en">{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}CS50 Web Programming{% endblock %}
    </title>
    <script src="{% static 'home/common.js' %}"></script>
    {% block statics %}
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
        <script src="{% static 'home/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        <script src="{% static 'home/home.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        {% csrf_token %}
        <script> const token = document.querySelector('input[name=csrfmiddlewaretoken]').value;</script>
    {% endif %}
    
    {% block body %}
        {% block main %}{% endblock %}
    {% endblock %}
    <footer>
        <div class="links">
            <a href="{% url 'home:index' %}"><b>Home</b></a>
            <a href="{% url 'commerce:index' %}">Commerce</a>
            <a href="{% url 'mailNg:index' %}">Mail</a>
            <a href="{% url 'network:index' %}">Network</a>
        </div>
    </footer>
</body>
</html>