{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}CS50 Web Programming{% endblock %}
    </title>
    <script src="{% static 'home/common.js' %}"></script>
    {% block statics %}<link rel="stylesheet" href="{% static 'home/styles.css' %}">{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        {% csrf_token %}
        <script> const token = document.querySelector('input[name=csrfmiddlewaretoken]').value;</script>
    {% endif %}
    
    {% block body %}
        {% block main %}{% endblock %}
    {% endblock %}
</body>
</html>