{% extends project|default:"home"|add:'/layout.html' %}

{% block main %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <br>

    <form action="{% url 'home:login' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <label>Username
            <input autofocus type="text" name="username" placeholder="Username">
        </label>
        <label>Password
            <input type="password" name="password" placeholder="Password">
        </label>
        <button class="btn" type="submit">Login</button>
        
    </form>
    <br>
    <div class="c">Don't have an account? <a class="b" href="{% url 'home:register' %}?next=/{{project}}">
        Register here.</a></div>

{% endblock %}