{% extends "home/layout.html" %}

{% block statics %}
    {% include project|default:'home/statics.html' %}
{% endblock %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'home:login' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="btn" type="submit">Login</button>
    </form>

    Don't have an account? <a href="
    {% url 'home:register' %}
    {% if request.GET.next %}{{ request.GET.next }}
    {% endif %}">Register here.</a>

{% endblock %}