{% extends project|add:'/layout.html' %}

{% block title %}Registration{% endblock %}

{% block main %}
<div class="form-div">

    <h2>Register</h2>

    {% if message %}
        <div class="error-msg">{{ message }}</label>
    {% endif %}

    <form action="{% url 'home:register' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <label>Username
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </label>
        <label>Email
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </label>
        <label>Password
            <input class="form-control" type="password" name="password" placeholder="Password">
        </label>
        <label>Password Confirmation
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </label>
        <button class="btn" type="submit">Register</button>
    </form>
    <div class="c">Already have an account? <a class="b" href="{% url 'home:login' %}?next={{next}}">Log in here.</a></div>
</div>

{% endblock %}