{% extends project|default:'home'|add:'/layout.html' %}

{% block title %}Registration{% endblock %}

{% block main %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</label>
    {% endif %}
    <br>

    <form action="{% url 'home:register' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <label>Username
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </label>
        <label>Email
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </label>
        <label>Password
            <input class="form-control" type="password" name="password" placeholder="Password">
        </label>
        <label>Password Confirmation
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </label>
        <button class="btn" type="submit">Register</button>
    </form>
    <br>
    <div class="c">Already have an account? <a class="b" href="{% url 'home:login' %}?next=/{{project}}">Log in here.</a></div>

{% endblock %}