{% extends 'home/layout.html' %}
{% load static %}

{% block title %}Wiki{% endblock %}
{% block statics %}
    <link href="{% static 'wiki/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav>
        <h2>Wiki</h2>
        <form action="{% url 'wiki:search' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input class="search" type="text" name="q" placeholder="Search wiki">
        </form>
        <div>
            <a href="{% url 'wiki:index' %}">Home</a>
        </div>
        <div>
            <a href="{% url 'wiki:new' %}">Create New Page</a>
        </div>
        <div>
            <a href="{% url 'wiki:random' %}">Random Page</a>
        </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
{% endblock %}