{% extends 'commerce/layout.html' %}

{% block title %}Categories{% endblock %}

{% block main %}
    <div class="categories">
    {% for cat in categories %}
        {% include 'commerce/category.html' with cat=cat%}
    {% endfor %}
    </div>

    {% for cat in categories %}
        {% if cat.has_open_listings %}
        <h2><a href="{% url 'commerce:category' cat.slug %}">{{ cat.name }} listings</a></h2>
            {% for listing in cat.listings.all %}
                {% if not listing.winner %}
                    {% include "commerce/listing_preview.html" with listing=listing %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}