<div class="comment">
    <div>
        <div>
            <h4><a href="{% url 'commerce:merchant' comment.merchant.id %}">{{ comment.merchant }}</a></h4>
            <div class="date">
                <span>Posted: </span>{{ comment.created|date:"d/m/y G:i" }}
            </div>
        </div>
        {% if user.merchant == comment.merchant %}
        <div>
            <button onclick="updateListing(
                '{% url 'commerce:delete_comment' %}', {{ comment.id}})">Delete</button>
        </div>
        {% endif %}
    </div>
    <div>{{ comment.text }}</div>
</div>