{% extends "commerce/layout.html" %}

{% block title %}Auctions{% endblock %}
{% block main %}
    {% if categories %}
        <div class="categories">
        {% for cat in categories %}
            {% include 'commerce/category.html' with cat=cat%}
        {% endfor %}
        </div>
    {% endif %}

    <h1>{{ title }}</h1> 
    
    {% for listing in listings %}
        {% include "commerce/listing_preview.html" with listing=listing %}
    {% empty %} <span class="sm">No listings yet</span>
    {% endfor %}
{% endblock %}