{% extends 'home/layout.html' %}
{% load l10n %}{% load static %}

{% block title %}Auctions{% endblock %}
{% block statics %}
    <link href="{% static 'commerce/styles.css' %}" rel="stylesheet">
    <script src="{% static 'commerce/js.js' %}" async defer></script>
{% endblock %}

{% block body %}
    <nav class="nav">
        <div class="nav-mobile">   
            <a class="nav-link" href="{% url 'commerce:index' %}">Active Listings</a>     
            <a class="nav-link" href="#" onclick="return openMobileNav()">Menu</a>
        </div>
        <div class="nav-bar">
            <div class="nav-menu">
                <a class="nav-link desktop" href="{% url 'commerce:index' %}">Active Listings</a>
                <a class="nav-link" href="{% url 'commerce:categories' %}">Categories</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'commerce:watchlist' %}">Watchlist</a>
                <a class="nav-link" href="{% url 'commerce:new_listing' %}">Create Listing</a>
            </div>
            <div class="nav-menu nav-auth">
                <a class="nav-link b" href="{% url 'commerce:profile' %}">{{ request.user.username}}</a>
                <a class="nav-link" href="#" onclick="return logout()">Log Out</a>
            </div>
            {% else %}
            </div>
            <div class="nav-menu nav-auth">
                <a class="nav-link" href="#" onclick="login()">Log In</a>
                <a class="nav-link" href="#" onclick="register('commerce')">Register</a>
            </div>
            {% endif %}
        </div>
    </nav>

    <main> {% block main %}{% endblock %}</main>
{% endblock %}
