{% extends 'home/layout.html' %}
{% load l10n %}

{% block title %}Auctions{% endblock %}
{% block statics %}
    {% include 'commerce/statics.html' %}
{% endblock %}

{% block body %}
    <nav class="nav">
        <div class="nav-menu">
            <a class="nav-link" href="{% url 'commerce:index' %}">Active Listings</a>
            <a class="nav-link" href="{% url 'commerce:categories' %}">Categories</a>
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'commerce:watchlist' %}">Watchlist</a>
            <a class="nav-link" href="{% url 'commerce:new_listing' %}">Create Listing</a>
        </div>
        <div class="nav-menu">
            <a class="nav-link b" href="{% url 'commerce:profile' %}">{{ request.user.username}}</a>
            <a class="nav-link" href="#" onclick="return logout()">Log Out</a>
        </div>
        {% csrf_token %}
        <script>const token = document.querySelector('[name=csrfmiddlewaretoken]').value;</script>
        {% else %}
        </div>
        <div class="nav-menu">
            <a class="nav-link" href="#" onclick="login()">Log In</a>
            <a class="nav-link" href="{% url 'home:register' %}">Register</a>
        </div>
        {% endif %}
    </nav>
    <hr>
    <main> {% block main %}{% endblock %}</main>
{% endblock %}
