{% extends "commerce/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<form enctype="multipart/form-data" class="listing-form" 
    {% if action == 'new' %}action="{% url 'commerce:new_listing' %}"
    {% else %}action="{% url 'commerce:edit_listing' form.instance.id %}"
    {% endif %}
     method="POST">
    {% csrf_token %}
    <div>
        {{ form.merchant.as_hidden }}
        <div class="field-container">
            <label for="{{form.title.id_for_label}}">Title</label>
            {{ form.title }}
        </div>
        <div class="field-container">
            <label for="{{form.description.id_for_label}}">Description</label>
            {{ form.description }} 
        </div>
        <div class="field-container">
            <label for="{{form.image.id_for_label}}">Upload image</label>
            <div>
                {{ form.image }}
            </div>
        </div>
        <div class="btn-group-inline group">
            <button type="submit">Save</button>
            <a class="btn" href="
            {% if form.instance.id %}{% url 'commerce:listing' form.instance.id %}
            {% else %}{% url 'commerce:index' %}
            {% endif %}
            ">Cancel</a>
        </div>
    </div>
    <div>
        {% if form.instance.get_bids_length == 0 %}
        <div class="field-container">        
            <label for="{{form.starting_bid.id_for_label}}">Starting price</label>
            {{ form.starting_bid }}
        </div>
        {% endif %}
        <div class="field-container">        
            <label for="{{form.category.id_for_label}}">Categories</label>
            {{ form.category }}
        </div>
        <div class="field-container inline">        
            <label for="{{form.status.id_for_label}}">Open</label>
            {{ form.status}}
        </div>
        <div>
            {% for error in form.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}