<article class="listing-preview">
    <div class="listing-preview-image">
        {% if listing.image %}<img src="{{listing.image.url}}">{% else %}<span>No image</span>{% endif %}
    </div>
    <div class="listing-preview-info">
        <div class="listing-preview-info-main">
            <h3><a href="{% url 'commerce:listing' listing.id %}">{{ listing.title }}</a></h3>
            <div class="sm"><span class="b">Posted: </span>{{listing.created}} by <a href="{% url 'commerce:merchant' listing.merchant.id %}" class="b">{{ listing.merchant}}</a></div>
            <div>{{ listing.description}}</div>
        </div>
        <div class="listing-preview-info-extra">
            <div class="listing-categories">
                {% for cat in listing.category.all %}
                    {% include 'commerce/category.html' with cat=cat %}
                {% endfor %}
            </div>
            <div>
            {% if listing.winner %}
                <span class="price">Sold!</span>
            {% else %}                   
                <span class="price">${{ listing.get_current_bid_price}}</span>
                <span class="sm">({{ listing.get_bids_length}} bids)</span>
            {% endif %}
            </div>
        </div>
    </div>
</article>