{% extends "commerce/layout.html" %}

{% block title %}Your listing{% endblock %}

{% block main %}
<form method="POST" enctype="multipart/form-data" class="listing-form">
    {% csrf_token %}
    <div>
        <div class="field-container">
            {{ form.title.errors }}
            <label for="{{form.title.id_for_label}}">Title</label>
            {{ form.title }}
        </div>
        <div class="field-container">
            {{ form.description.errors }}
            <label for="{{form.description.id_for_label}}">Description</label>
            {{ form.description }} 
        </div>
        <div class="field-container listing-form-image">
            <label for="{{form.image.id_for_label}}">Upload image</label>
            <div>
                {{ form.image }}
            </div>
        </div>
    </div>
    <div>
        <div class="field-container"
            {% if form.instance.bids.count %} hidden
            {% endif %}
        >  
            {{ form.starting_bid.errors }}      
            <label for="{{form.starting_bid.id_for_label}}">Starting price</label>
            {{ form.starting_bid }}
        </div>
        <div class="field-container">        
            <label for="{{form.category.id_for_label}}">Categories</label>
            {{ form.category }}
        </div>
        <div>{{ errors }}</div>
    </div>
    
    <div class="btn-group-inline group">
        <button class="btn-yellow" type="submit">Publish</button>
        <a class="btn"
        {% if form.instance.id %}href="{% url 'commerce:listing' form.instance.id %}"
        {% else %}href="{% url 'commerce:index' %}"
        {% endif %}>
            Cancel</a>
    </div>
</form>
{% endblock %}