<article class="preview">
    <div class="preview-image">
        {% if listing.image %}
            <img src="{{listing.image.url}}">
        {% else %}
            <span>No image</span>
        {% endif %}
    </div>

    <div class="preview-title">    
        <h3><a href="{% url 'commerce:listing' listing.id %}">{{ listing.title }}</a></h3>
        <div class="sm">
            <span class="b">Posted: </span>
            {{listing.created|date:""}} by 
            <a href="{% url 'commerce:merchant' listing.merchant.id %}" class="b">
                {{ listing.merchant}}
            </a>
        </div>
    </div>

    <div class="preview-main">
        {{ listing.description}}
    </div>

    <div class="preview-extra">
        <div class="categories">
            {% for cat in listing.category.all %}
                {% include 'commerce/category.html' with cat=cat %}
            {% endfor %}
        </div>
        {% if not listing.winner %}
        <div class="r">
            <div class="preview-price">
                {% if listing.winner %}
                    <span class="price">Sold!</span>
                {% else %}                 
                    <div class="price">${{ listing.get_current_bid_price}}</div>
                {% endif %}
            </div>
                <div class="sm">({{ listing.get_bids_length}} bids)</div>  
            {% endif %}
            </div>
        </div>
</article>