{% extends "commerce/layout.html" %}

{% block title  %} {{ listing.title }} {% endblock %}

{% block main %}
    <article class="listing">
        <div class="listing-header">
            <h1>{{ listing.title }}</h1>
            {% if listing.winner %}
            <h1>Sold!</h1>
            {% elif user == listing.merchant.user %}
            <div class="btn-group-inline">
                {% if listing.get_bids_length > 0 %}
                    <button type="button" onclick="sendListing('{% url 'commerce:close_listing' %}', {{ listing.id}})" class="btn-blue">Accept</button>
                {% endif%}
                <a href="{% url 'commerce:edit_listing' listing.id %}" class="btn btn-green">Edit</a>
                <button type="button" onclick="sendListing('{% url 'commerce:delete_listing' %}', {{ listing.id }})" class="btn-red">Delete</button>
            </div>
            {% elif user.is_authenticated %}
            <button type="button" onclick="sendListing('{% url 'commerce:watchlist_toggle' %}', {{ listing.id }})">
                {% if listing in user.merchant.watchlist.all %} Remove from watchlist {% else %} Add to watchlist {% endif %}
            </button>
            {% endif %}
            <div class="listing-meta">
                <div class="date">
                    <span>Posted:</span>
                    <span>{{ listing.created}}</span>
                    <span>by <a class="b" href="{% url 'commerce:merchant' listing.merchant.id %}">{{ listing.merchant}}</a></span>
                </div>
                <div class="listing-categories">
                    {% for cat in listing.category.all %}
                        {% include 'commerce/category.html' with cat=cat %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="listing-img">
            {% if listing.image %}<img src={{ listing.image.url }}>
            {% else %}<p>No image</p>
            {% endif %}
        </div>
        <div class="listing-info">
            <div class="listing-info-item">
                {% if listing.winner %}
                    <h5>Sold:</h5>
                    <div>
                        to <a href="{% url 'commerce:merchant' listing.winner.id %}">{{ listing.winner }}</a> 
                        for <span class="price">${{ listing.get_current_bid_price }}</span>
                    </div>
                {% else %}
                    <h5>Current price:</h5>
                    <div class="price">${{ listing.get_current_bid_price }}</div>
                {% endif %}
            </div>
            <div class="listing-info-item">
                <h5>Description:</h5>
                <div>{{ listing.description}}</div>
            </div>
            {% if not listing.winner %}
                <div class="listing-info-item">
                    <h5>Bids: ({{ listing.get_bids_length }})</h5>
                    {% if user == listing.merchant.user %}
                        {% for bid in listing.bids.all %}
                            <div class="bid">
                                <span>${{ bid.price }}</span>
                                <span>by <a href="{% url 'commerce:merchant' bid.merchant.id %}">{{ bid.merchant}}</a></span>
                            </div>
                        {% empty %}<span>No bids yet</span>
                        {% endfor %}
                    {% elif user.is_authenticated %}
                        {% if user == listing.get_current_bid_merchant.user %}
                            <span>Your bid is the current bid</span>
                        {% else %}
                            <form class="bid-form" action="{% url 'commerce:bid' listing.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" min="{{ listing.get_current_bid_price }}" name="bid" placeholder="Your price">
                                <button type="submit">Place bid</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </article>

    <hr>
        <h2>Comments</h2>
    <hr>
    {% if commentForm %}
        <form class="comment-form" method="POST" action="{% url 'commerce:add_comment' listing.id %}">
            {{ commentForm }}
            {% csrf_token %}
            <button type="submit">Post</button>
        </form>
    {% endif %}
    <div class="group">
        {% for comment in listing.comments.all %}
            {% include 'commerce/comment.html' with user=user comment=comment %}
        {% empty %}<span>No comments yet</span>
        {% endfor %}
    </div>
{% endblock %}