<article class="preview">
    <div class="preview-image">
        {% if listing.image %}
            <img src="{{listing.image.url}}">
        {% else %}
            <span>No image</span>
        {% endif %}
    </div>

    <div class="preview-title">    
        <div>
            <h3><a href="{% url 'commerce:listing' listing.id %}">{{ listing.title }}</a></h3>
            <div class="sm">
                <span class="b">Posted: </span>
                {{listing.created|date:""}} by 
                <a href="{% url 'commerce:merchant' listing.merchant.id %}" class="b">
                    {{ listing.merchant}}
                </a>
            </div>
        </div>
        {% if user.is_authenticated %}
        <button type="button" onclick="updateListing('{% url 'commerce:watchlist_toggle' %}', {{ listing.id }})">
            {% if listing in user.merchant.watchlist.all %} Remove from watchlist {% else %} Add to watchlist {% endif %}
        </button>
        {% endif %}
    </div>

    <div class="preview-main">
        {{ listing.description}}
    </div>

    <div class="preview-extra">
        <div class="categories">
            {% for cat in listing.category.all %}
                {% include 'commerce/category.html' with cat=cat %}
            {% endfor %}
        </div>
        <div class="r">
            {% if listing.winner %}
                <span class="price">Sold!</span>
            {% else %}                 
                <div class="price">${{ listing.current_bid_price }}</div>
                <div class="sm">({{ listing.bids.count }} bids)</div>  
            {% endif %}
        </div>
</article>