{% extends "commerce/layout.html" %}

{% block title %}{{merchant }}{% endblock %}
{% block main %}
    <h1>{{ merchant }}</h1>

    <h3>{{ merchant }}'s listings</h3>
    {% for listing in merchant.listings.all %}
        {% include "commerce/listing_preview.html" with listing=listing %}
    {% empty %}<span class="sm">No listings yet</span>
    {% endfor %}

    <h3>{{ merchant}}'s won lots</h3>
    {% for listing in merchant.won_lots.all %}
        {% include "commerce/listing_preview.html" with listing=listing %}
    {% empty %}<span class="sm">{{ merchant}} hasn't won any lots yet</span>
    {% endfor%}

{% endblock %}