{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="{% url 'search:index' %}" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Search</title>
		<link
			rel="stylesheet"
			href="{% static 'search/styles.css' %}"
			media="print"
			onload="this.media='all'"
		/>
		<noscript>
			<link rel="stylesheet" href="{% static 'search/styles.css' %}"
		/></noscript>
	</head>
	<body>
		<app-root></app-root>
		<script src="{% static 'search/runtime.js' %}" type="module"></script>
		<script src="{% static 'search/polyfills.js' %}" type="module"></script>
		<script src="{% static 'search/main.js' %}" type="module"></script>
	</body>
</html>
