{% extends "mail/layout.html" %}

{% block body %}
<div class="c">

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form id="login-form" action="{% url 'mail:login' %}" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input class="btn" type="submit" value="Login">
    </form>

    <span class="sm">Don't have an account? <a href="{% url 'mail:register' %}">Register here.</a></span>
</div>
{% endblock %}