{% extends "mail/layout.html" %}

{% block body %}
<div class="c"><h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'mail:register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
        <input class="btn" type="submit" value="Register">
    </form>

    <span class="sm">Already have an account? <a href="{% url 'mail:login' %}">Log In here.</a></span>
</div>

{% endblock %}