@charset "UTF-8";
@keyframes grow-font {
  from {
    font-size: 0px;
  }
  to {
    font-size: 0.8rem;
  }
}
@keyframes opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-slide {
  0% {
    max-height: 0;
    opacity: 0;
  }
  75% {
    max-height: 1000px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hide-slide, .show-slide {
  animation-name: show-slide;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.hide, .show {
  animation-name: opaque;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.shrink, .grow {
  animation-name: grow-font;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.post-header, nav, footer .links, .pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input, textarea, select, button, .btn, a {
  transition: all 0.2s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea, select, button {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  height: 15vh;
}
footer .links {
  height: 100%;
  font-size: 1rem;
}

nav, main, footer .links {
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}
@media (max-width: 600px) {
  nav, main, footer .links {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button, .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

input, textarea, select {
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  outline: none;
  overflow: auto;
}

textarea {
  resize: vertical;
}

label {
  display: block;
  font-weight: 600;
  margin: 0.3rem 0;
}

.form-div {
  margin-inline: auto;
  width: 600px;
}
.form-div label {
  margin: 1rem 0;
}
.form-div form {
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .form-div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.error-msg {
  font-size: 0.8rem;
  text-align: center;
}

.btn-active {
  cursor: default;
}

.b {
  font-weight: 600;
}

.c {
  text-align: center;
}

.r {
  text-align: right;
}

.sm {
  font-size: 0.8rem;
  font-weight: 400;
}

.pagination {
  gap: 0.5rem;
}
.pagination .btn {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  min-width: unset;
}

.spacer {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hide-slide {
  animation-direction: reverse;
}

[v-cloak] {
  display: none;
}

a, button, .btn, input, textarea, select {
  transition: all 0.5s ease-out;
}

h2 {
  text-align: left;
}

a {
  color: #da0043;
  font-size: 1rem;
}
a:hover {
  color: #da0043;
}

button, .btn {
  background-color: #da0043;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
button:hover, .btn:hover {
  background-color: #a70033;
  color: white;
}
button:disabled, .btn:disabled {
  opacity: 0.3;
  cursor: default;
}
button:disabled:hover, .btn:disabled:hover {
  background-color: inherit;
  color: inherit;
}

.btn-sm {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.btn-active {
  background-color: white;
  color: black;
}
.btn-active:hover {
  background-color: white;
  color: black;
}

.btn-likes {
  background-color: white;
  color: black;
  gap: 0.15rem;
  font-size: 0.8rem;
  padding: 0;
  border: none;
  width: fit-content;
  height: 1.2rem;
}
.btn-likes:hover {
  background-color: #e6e6e6;
  color: black;
}
.btn-likes:disabled {
  opacity: 0.3;
  cursor: default;
}
.btn-likes:disabled:hover {
  background-color: inherit;
  color: inherit;
}
.btn-likes:disabled {
  opacity: 1;
}
@media (max-width: 600px) {
  .btn-likes {
    padding-left: 0.5rem;
  }
}

.heart {
  display: inline-flex;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 0.8rem;
  align-items: center;
  justify-content: center;
}
.heart::before {
  content: "♡";
  color: #aa0000;
}

.liked::before {
  content: "❤";
}

.sm {
  color: grey;
}

.extra {
  font-size: 0.8rem;
  color: gray;
}

.hidden {
  display: none;
}

main {
  margin-bottom: 3rem;
}
main > div {
  margin-block: 2rem;
}

header, footer {
  position: sticky;
  z-index: 4;
  width: 100%;
  background-color: #e5e5e5;
  height: 3rem;
  line-height: 3rem;
}

header {
  top: 0;
}
header.sticky-scrolling {
  top: -3rem;
}

footer {
  bottom: 0;
}
footer.sticky-scrolling {
  bottom: -3rem;
}

nav, footer .links {
  gap: 2rem;
  overflow: auto;
}
@media (max-width: 600px) {
  nav, footer .links {
    gap: 1rem;
    justify-content: space-between;
  }
}
nav a, footer .links a {
  font-size: 1.2rem;
  white-space: nowrap;
  color: black;
}
nav a:hover, footer .links a:hover {
  color: #da0043;
}

footer .links a {
  font-size: 0.8rem;
}

form input, form textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0.7rem 0;
}
form input:focus, form textarea:focus {
  border-color: #da0043;
}
form input {
  padding: 0.3rem 0.5rem;
}
form textarea {
  height: 7rem;
  padding: 1rem;
  width: 100%;
}
form button {
  min-width: 5rem;
}

.shrink {
  animation-direction: reverse;
}

.show-slide {
  animation-duration: 0.7s;
}

.feed, .networker {
  position: relative;
}
.feed > *, .networker > * {
  margin: 2rem 0;
}

.networker button {
  margin: 0;
}

.avatar {
  max-width: 15rem;
  max-height: 15rem;
}
.avatar img {
  max-width: inherit;
  max-height: inherit;
}

.avatar-select input[type=file] {
  display: none;
}
.avatar-select button {
  display: none;
}

.post {
  position: relative;
  width: 100%;
  border: 1px solid black;
  transition: transform 1s;
  padding: 0.7rem 2rem;
}
@media (max-width: 600px) {
  .post {
    padding: 1rem;
  }
}
.post-header, .post-body, .post-footer {
  margin: 0.7rem 0;
}
.post-header {
  gap: 0.7rem;
  height: 3rem;
}
.post .spacer {
  width: 100%;
}
.post-avatar {
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border: 1px dashed darkgray;
}
.post-body {
  border-top: 1px dashed darkgray;
  border-bottom: 1px dashed darkgray;
  font-family: "Courier New", Courier, monospace;
  padding: 0.7rem 0;
  white-space: pre-wrap;
  line-height: 1.3rem;
}
.post-body a:hover {
  text-decoration: underline;
}
.post-footer {
  font-size: 0.8rem;
}
.post .extra {
  white-space: nowrap;
  display: flex;
  gap: 5px;
}
@media (max-width: 600px) {
  .post .extra {
    flex-direction: column;
    gap: 0;
  }
}
.post-meta {
  padding: 0.7rem 0;
  text-align: center;
}
.post-meta-msg {
  padding: 2.1rem 0.7rem;
}
.post-meta button {
  margin: 0 0.35rem;
}

.user-info {
  padding-top: 0.5rem;
}
.user-info span {
  padding-right: 1rem;
}

.error-msg {
  color: red;
}

.hide {
  animation-direction: reverse;
}

#scrollUpBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  visibility: hidden;
  opacity: 0;
}

#scrollUpBtn::before {
  content: "↑";
}
