@use "sass:color";

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bg-image: url('bg.jpg');
$bg-color: #b6816166;
$bg-color-opaque: #b68261;
$img-bg-color: #9d633f2b;
$light-tp: #fdfdfd36;
$border-radius: 7px;
$a-color: #006e00;
$secondary-color: goldenrod;
$red: #f441414e;
$blue: #4a4af955;
$green: #3aa73a62;
$yellow: #daa52059;

$nav-padding: 1rem;
$nav-link-height: 3rem;

@mixin mobile() {
    @media (orientation: portrait) {
        @content;
    }
}


@mixin btn-theme($color) {
    background-color: $color;

    &:hover {
        background-color: color.adjust($color, $alpha: 0.3);
    }
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

%flex-row-sb {
    @extend %flex-row;
    justify-content: space-between;
}

%group-block {
    > * {
        margin: 2rem 0;
    }
}

%price {
    font-size: 2rem;
    font-weight: 600;
}

%transition-ease {
    transition: all .2s ease-out;
}

%form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

@keyframes show-height {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 1500px;
    }
}

%show-height {
    display: block;
    animation-name: show-height;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.show {
    @extend %show-height;
}

.hide {
    @extend %show-height;
    animation-direction: reverse;
}

.field-container {
    width: 100%;

    &.inline {
        @extend %flex-row;
        gap: 0.5rem;
    }
}

label {
    display: block;
    font-weight: 600;
    margin: 0.3rem 0;
}

input:not([type=checkbox]), textarea, select {
    font-size: 1rem;
    width: 100%;
    background-color: $light-tp;
    border: 1px solid transparent;
    border-radius: $border-radius;
    outline: none;
    padding: 0.5rem;
    overflow: auto;
    @extend %transition-ease;

    &:focus {
        border-color: $a-color !important;
    }
}

textarea {
    resize: none;
    font-family: $font-family;
}

input[type=checkbox] {
    @include btn-theme($bg-color);
    @extend %transition-ease;
    appearance: none;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius: 3px;

    &:checked {
        background-color: $img-bg-color;

        &::after {
            font-weight: 600;
            font-size: 15px;
            padding-left: 3px;
            line-height: 20px;
            content: '\2713';
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $img-bg-color;
} 

::-webkit-scrollbar-thumb {
    background-color: $img-bg-color;
}

%parchment {
    @extend %transition-ease;
    background-color: $img-bg-color;
    border-radius: $border-radius;
    color: black;
    padding: 1rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: $bg-image;
    font-family: $font-family;
    width: 80vw;
    margin: auto;
    margin-bottom: 5rem;

    @include mobile {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
}

hr {
    border: transparent;
    width: 100%;
    border-bottom: 1px dashed $bg-color-opaque;
}

main {
    > * {
        margin: 1.5rem 0;

        @include mobile {
            margin: 1rem 0;
        }
    }
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
}

a {
    @extend %transition-ease;
    text-decoration: none;
    color: $a-color;

    &:hover {
        text-shadow: 0 0 3px $bg-color-opaque;
    }
}

button, .btn {
    @extend %transition-ease;
    @include btn-theme($bg-color);
    display: block;
    border: 1px solid transparent;
    border-radius: $border-radius;
    color: black;
    padding: 0 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family;
    font-weight: 600;
    font-size: 1rem;
}

.desktop {
    @include mobile {
        display: none;
    }
}

.b {
    font-weight: 600;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.sm {
    font-size: 0.8rem;
    font-weight: 400;
}

.btn-red {
    @include btn-theme($red);
}

.btn-green {
    @include btn-theme($green);
}

.btn-blue {
    @include btn-theme($blue);
}

.btn-yellow {
    @include btn-theme($yellow);
}

.btn-active{
    background-color: $light-tp;
    cursor: default;

    &:hover {
        background-color: $light-tp;
    }
}