$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: bisque;
$img-bg-color: #9d633f2b;
$a-color: #006400;
$secondary-color: goldenrod;
$red: #f44141;
$blue: #4a4af9;
$green: #3aa73a;


@mixin btn-theme($color) {
    background-color: $color;
    border-color: darken($color, 20%);

    &:hover {
        background-color: darken($color, 20%);
    }
}

%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

%flex-row-sb {
    @extend %flex-row;
    justify-content: space-between;
}

%group-block {
    > * {
        margin: 1rem 0;
    }
}

%price {
    font-size: 1.3rem;
    font-weight: 600;
}

%transition-ease {
    transition: all .3s ease-out;
}

%form {
    display: flex;
    flex-direction: column;

    .field-container {
        width: 100%;

        &.inline {
            @extend %flex-row;
            gap: 0.5rem;
        }
    }

    label {
        display: block;
        font-weight: 600;
        margin: 0.3rem 0;
    }

    input:not([type=checkbox]), textarea, select {
        width: 100%;
        background-color: $primary-color;
        border: 1px solid black;
        outline: none;
        padding: 0.3rem;
        overflow: auto;
        @extend %transition-ease;

        &:focus {
            border-color: darken($primary-color, 50%);
        }
    }

    input[type=checkbox] {
        @include btn-theme($primary-color);
        @extend %transition-ease;
        appearance: none;
        height: 20px;
        width: 20px;
        border: 1px solid;
        border-radius: 3px;

        &:checked {
            background-color: $secondary-color;

            &::after {
                font-weight: 600;
                font-size: 15px;
                padding-left: 3px;
                line-height: 20px;
                content: '\2713';
            }
        }
    }
}

%parchment {
    border: 1px solid #b6974a;
    backdrop-filter: saturate(1.5);
    box-shadow: 1px 1px 3px darken(#b6974a, 25%);
    padding: 1rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    font-family: $font-family;
    width: 80vw;
    margin: 2rem auto;
}

hr {
    margin: 1rem 0;
    border-color: #b6974a;
    border-width: 1px 0 0 0;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1rem;
}

img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: $a-color;
}

button, .btn {
    @extend %transition-ease;
    display: block;
    border: 1px solid black;
    color: black;
    background-color: goldenrod;
    padding: 0 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        background-color: darken(goldenrod, 10%);
    }
}

.b {
    font-weight: 600;
}

.sm {
    font-size: 0.8rem;
    font-weight: 400;
}

.btn-red {
    @include btn-theme($red);
}

.btn-green {
    @include btn-theme($green);
}

.btn-blue {
    @include btn-theme($blue);
}