* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    color: #dadada;
    font-size: 1.2rem;
}

html {
    background-color: #33353e;
}

h1 {
    font-size: 2rem;
}

h1, ol {
    margin: 2.5rem 5rem;
}

ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #8de4ff;
    font-weight: 600;
    transition: color .3s;
}

a:hover {
    color: #00c3ff;
}