@use 'sass:color';

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-sm: 0.8rem;
//$primary-color: #a8139c;
$primary-color: #da0043;
$border-radius: 5px;
$padding: 0.7rem;

@function getTextColor($background-color) {
    @if color.whiteness($background-color) > color.blackness($background-color) {
        @return black;
    }
    @else {
        @return white;
    }
}

@mixin btn-color($color) {
    background-color: $color;
    color: getTextColor($color);

    &:hover {
        background-color: darken($color, 10%);
        color: getTextColor(darken($color, 10%));
    }
}

@mixin mobile {
    @media (orientation:portrait) {
        @content;
    }
}

@keyframes grow{
    from {
        font-size: 0px;
    }
    to {
        font-size: $font-size-sm;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-slide {
    0% {
        max-height: 0;
        opacity: 0;
    }

    75% {
        max-height: 1000px;
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

%show {
    animation-name: show;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

%grow {
    animation-name: grow;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

%flex-row {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}
